


    <!DOCTYPE html>

    <nav>
   
        <ul>
        <li style="position: absolute; left: 50px;" ></li>
       <li class="searchbox">
       <input type="text" placeholder=" Search...." name="search" style="top: 20px;" [(ngModel)]="enteredSearchValue" (input)="onSearchTextChanged()">
       <button style="background-color: white;"> <img src="https://cdn-icons-png.flaticon.com/128/875/875623.png" style="height: 22px;position:absolute;top: 12px;">
        </button>
       </li>
       <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link" style="position: absolute;right: 100px;" ><b>Home</b></a></li>
        <li class="nav-item"><a routerLink="/first" routerLinkActive="active" class="nav-link" style="position: absolute;right: 30px;"><b>Logout</b></a></li>
           </ul>
        </nav>
       
    <html lang="en">

    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            /* Remove the navbar's default rounded borders and increase the bottom margin */
            .navbar {
                margin-bottom: 50px;
                border-radius: 0;
            }

            /* Remove the jumbotron's default bottom margin */
            .jumbotron {
                margin-bottom: 0;
            }

            /* Add a gray background color and some padding to the footer */
            footer {
                background-color: #f2f2f2;
                padding: 25px;
            }
        </style>
    </head>

    <body>

        <div>
           

            <div class="bg-container">
                <b>
                    <h1 style="font: size 70px;">Online Store</h1>
                </b>
                <b>
                    <p>Mission, Vission & Values</p>
                </b>
            </div>
        </div>
        <br><br><br>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Christmas offer</div>
                        <div class="panel-body image-size"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyS7efvhl6dXSCqyAVnEf6Ng6gw_E_oa7d1I-1o4f_pc85CV6glhKVIqMlsiuIKaxaBds&usqp=CAU"
                                class="img-fluid" alt="Responsive image"></div>
                        <div class="panel-footer">10% off</div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-warning">
                        <div class="panel-heading">Christmas offer</div>
                        <div class="panel-body"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTJUYn25Rn5d344EVGrqPeHpT2oMFNyEdSOOEputdvra1Rf9EzOfnsTDMN6Mi9ZFtdKYM&usqp=CAU"
                                class="img-fluid" alt="Responsive image"></div>
                        <div class="panel-footer">20% off</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">Christmas offer</div>
                        <div class="panel-body"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMNu9YJy_g7gawOsDnk3b-tv9aKhm5gQeN_wNIVp5Mo1I_UHDcGgXxsX-12FmMsAneTRI&usqp=CAU"
                                class="img-fluid" alt="Responsive image"></div>
                        <div class="panel-footer">10% off</div>
                    </div>
                </div>
            </div>
        </div><br>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Christmas offer</div>
                        <div class="panel-body"><img
                                src="https://i.pinimg.com/736x/20/98/e0/2098e0c97a895255d77282ffbde9c306.jpg"
                                class="img-fluid" alt="Responsive image"></div>
                        <div class="panel-footer">25% off</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-warning">
                        <div class="panel-heading">Christmas offer</div>
                        <div class="panel-body"><img
                                src="https://i.pinimg.com/474x/13/12/d4/1312d47492fdee20d923e5743401766a.jpg"
                                class="img-fluid" alt="Responsive image"></div>
                        <div class="panel-footer">10% off</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">Christmas offer</div>
                        <div class="panel-body"><img
                                src="https://cdn.shopify.com/s/files/1/0380/3430/9255/products/Silverbangles-setof2sjk2-1_862x.jpg?v=1608888410"
                                class="img-fluid" alt="Responsive image"></div>
                        <div class="panel-footer">20% off</div>
                    </div>
                </div>
            </div>
        </div><br><br>

        <footer class="container1-fluid text-center">
            <b><p>Welcome Aboard🙏</p></b>
        </footer>

    </body>

    </html>
